@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: #f0f0f0;
    --blue: #109eff;
    --white: #fff;
    --grey: #00000033;

}


body {
    position: relative;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    background-image: url('../../assets/Background/Blue\ Gradient\ Background.png');   
    background-repeat: no-repeat; 
    background-size: cover;
}

.error {
    font-size: 10rem;
    box-shadow: #00000033;
}

a {
    padding: 2rem 4rem;
    font-size: 2rem;
    text-decoration: none;
    background-color: green;
    border-radius: 1rem;
    color: var(--white);

    &:hover {
        transform: scale(120%);
    }
}

.error-wrapper {
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    gap: 2rem;
    color: var(--white);

    text-transform: capitalize;
    p {
        font-style: italic;
    }
}
